/* COMMON */
*{
    margin: 0;
    padding: 0;
    height: 100%;
}
img{
    display: block;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


/* INTRO */
.intro{
    width: 100%;
    height: 100%;
}
.intro .img {
    position: relative;
    width: 100%;
    background: url("../images/해리포터_포스터디자인_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}
.intro .img h1, h2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: chartreuse;
}
.intro .img h2{
    top: 100%;
    font-size: 70px;
}   


/* CONTENT */
.content{
    position: relative;
}
.content .image{
    position: relative;
    width: 50%;
}
.content .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content .text{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}


/* FOOTER */
.footer{
    height: 200px;
    background: #000;
}
.footer p{
    color: #fff;
    text-align: center;
}